.text-input{
    border:1px solid #dbdbdb;
    height: $xl-size;
    padding: 10px;
    font-size: $font-size-medium;
    font-weight: 300;
}

.select{
    @extend .text-input;
}

.text-area{
    @extend .text-input;
    height: 10rem;
    resize: none;
    font-size: $font-size-large;
}