.list-header {
	background: $light-grey;
	padding: $sm-size $sm-size;
	border: 1px solid darken($light-grey, 7%);
	border-radius: 2px;
	color: $grey;
	display: flex;
	justify-content: space-between;
}

.list-body {
	margin-bottom: $m-size;
	@media screen and (min-width: $desktop-breakpoint) {
		margin-bottom: $l-size;
	}
}

.list-item {
	border: 1px solid darken($light-grey, 7%);
	border-top: none;
	color: $dark-grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $sm-size;
	text-decoration: none;
	transition: background 300ms ease;

	&:hover {
		background: $light-grey;
	}

	@media screen and (min-width: $desktop-breakpoint) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: $m-size;
	}
}

.list-item--message {
	align-items: center;
	justify-content: center;
	color: $grey;
	padding: $m-size;

	&:hover {
		background: none;
	}
}

.list-item__title {
	margin: 0;
	word-break: break-all;
}

.list-item__sub-title {
	color: $grey;
	font-size: $font-size-small;
}

.list-item__data {
	margin: $sm-size 0 0 0;

	@media (min-width: $desktop-breakpoint) {
		margin: 0;
		padding-left: $sm-size;
	}
}
